{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>Displaying all comments:</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for comment in comment_list %}
    <div class="col">
        <div class="card text-bg-light mt-3">
        <div class="card-body">
            <h5 class="card-title text-body-primary">Comment on {{comment.created|date:"jS F Y"}}</h5>
            <p class="card-text">{{ comment.get_text_links|safe }}</p>
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock body %}