{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container col-xl-10 col-xxl-8 px-4 pt-2">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Welcome to nearmiss.report</h1>
        <p class="col-lg-10 fs-4">Use this website to notify the department of issues that crop up in your day-to-day work.</p>
        <p class="col-lg-10 fs-4">Near-misses, equipment issues and discussion points are all fair game.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-6">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
            <h3 class="fw-bold lh-1 text-body-emphasis mb-3">Comment here:</h3>
            {% csrf_token %}
            {{ form | crispy }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            <hr class="my-2">
            <small class="text-body-secondary">Use #hashtags to categorise #issues for the department to review</small>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}